# ==== Database ====
CLOUDDRIVE_DB_URL=jdbc:postgresql://clouddrive-db-public.czio2aggmdzt.ap-south-1.rds.amazonaws.com:5432/clouddrive
CLOUDDRIVE_DB_USERNAME=cloudadmin
CLOUDDRIVE_DB_PASSWORD=change-me

# ==== JWT ====
CLOUDDRIVE_JWT_SECRET=change-me-to-long-random-secret
CLOUDDRIVE_JWT_TTL_MINUTES=60

# ==== S3 ====
CLOUDDRIVE_S3_BUCKET=clouddrive-dev-ayush
CLOUDDRIVE_S3_REGION=ap-south-1
